Fetch_SCM_MFG_WO_By_getWorkOrder/xsd/WoOperationMaterial.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/scm/commonWorkExecution/workOrders/workOrdersService/"
     sdoJava:package="oracle.apps.scm.commonWorkExecution.workOrders.workOrdersService"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoJava="commonj.sdo/java" xmlns="http://xmlns.oracle.com/apps/scm/commonWorkExecution/workOrders/workOrdersService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Update Work Order Operation Material Details</name>
            <description>An object, representing a set of work order operation material
                details, that is used to provide values while updating the work
                order operation material</description>
            <oer:category name="lbo">
                <value>SCM-SCM : WIE-Common Work Execution : ORA_WORK_ORDER-Work
                    Order</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Provides the work order operation material interface action codes such as: Create, Update, Delete"
                     name="ActionCode"/>
                <oer:attribute description="Work order operation reference" name="OperationSequence"/>
                <oer:attribute description="Sequence in which material is consumed in the operation"
                     name="ComponentSequence"/>
                <oer:attribute description="Item that is either produced or consumed by the operation"
                     name="ItemNumber"/>
                <oer:attribute description="Item identifier" name="ItemId"/>
                <oer:attribute description="This is the quantity of the item required at the operation"
                     name="QuantityPerProduct"/>
                <oer:attribute description="Inverse component usage is employed in cases where the component quantity per product is fractional"
                     name="Inverse"/>
                <oer:attribute description="Quantity consumption is either Fixed or Variable" name="Basis"/>
                <oer:attribute description="Unit of measure of the item" name="Uom"/>
                <oer:attribute description="Date when the operation items are required" name="RequiredDate"/>
                <oer:attribute description="Factor to calculate the aggregate required quantity. The value of yield is 0 greater than yield and lesser than or equal to 1. However, yield value greater than 1 is allowed with a warning message"
                     name="Yield"/>
                <oer:attribute description="Indicates whether this material (component) requirement should be considered by planning run for planning its supply"
                     name="IncludeInPlanningFlag"/>
                <oer:attribute description="Method of consumption of the item. The supply types are Assembly Pull, Operation Pull, Push, Bulk, and Supplier"
                     name="SupplyType"/>
                <oer:attribute description="The default subinventory where material will be drawn after the backflush operation completes"
                     name="SupplySubinventoryCode"/>
                <oer:attribute description="The default locator where material will be drawn after the backflush operation completes"
                     name="SupplyLocatorCode"/>
                <oer:attribute description="Unique identifier of the locator" name="SupplyLocatorId"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:complexType name="WoOperationMaterial">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>OperationSequence</attribute>
                    <attribute>ComponentSequence</attribute>
                    <attribute>ItemNumber</attribute>
                    <attribute>HeaderNumber</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ActionCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OperationSequence" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ComponentSequence" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ItemNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ItemId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="QuantityPerProduct" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="Inverse" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="Basis" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Uom" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequiredDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="Yield" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="IncludeInPlanningFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="SupplyType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SupplySubinventoryCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SupplyLocatorCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SupplyLocatorId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="AttributeCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar11" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar12" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar13" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar14" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar15" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar16" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar17" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar18" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar19" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar20" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeNumber1" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber2" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber3" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber4" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber5" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber6" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber7" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber8" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber9" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber10" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeDate1" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate2" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate3" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate4" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate5" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp1" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp2" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp3" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp4" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp5" nillable="true" type="ns0:dateTime-Timestamp"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="woOperationMaterial" type="WoOperationMaterial"/>
</xsd:schema>
