Fetch_SCM_MFG_WO_By_getWorkOrder/xsd/WoProductSerial.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/scm/commonWorkExecution/workOrders/workOrdersService/"
     sdoJava:package="oracle.apps.scm.commonWorkExecution.workOrders.workOrdersService"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoJava="commonj.sdo/java" xmlns="http://xmlns.oracle.com/apps/scm/commonWorkExecution/workOrders/workOrdersService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Update Work Order Serial Details</name>
            <description>An object, representing a set of serial details, that is used to
                provide values while updating the work order with serials</description>
            <oer:category name="lbo">
                <value>SCM-SCM : WIE-Common Work Execution : ORA_WORK_ORDER-Work
                    Order</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Provides the work order serial interface details action codes such as: Create, Update, Delete serial numbers"
                     name="ActionCode"/>
                <oer:attribute description="The generated serial number that is associated to the item of the work order"
                     name="SerialNumber"/>
                <oer:attribute description="The new work order serial number that replaces the deleted serial number"
                     name="NewSerialNumber"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:complexType name="WoProductSerial">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>SerialNumber</attribute>
                    <attribute>HeaderNumber</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ActionCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SerialNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NewSerialNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar11" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar12" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar13" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar14" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar15" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar16" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar17" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar18" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar19" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar20" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeNumber1" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber2" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber3" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber4" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber5" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber6" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber7" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber8" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber9" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber10" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeDate1" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate2" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate3" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate4" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate5" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp1" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp2" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp3" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp4" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp5" nillable="true" type="ns0:dateTime-Timestamp"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="woProductSerial" type="WoProductSerial"/>
</xsd:schema>
