Fetch_SCM_MFG_WO_By_getWorkOrder/xsd/WorkOrderOperationResource.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/scm/commonWorkExecution/workOrders/workOrdersService/"
     sdoJava:package="oracle.apps.scm.commonWorkExecution.workOrders.workOrdersService"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/scm/commonWorkExecution/workOrders/workOrdersService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Work Order Operation Resource Details</name>
            <description>An object, representing the work order operation resource
                details, that is returned for the given work order</description>
            <oer:category name="lbo">
                <value>SCM-SCM : WIE-Common Work Execution : ORA_WORK_ORDER-Work
                    Order</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Actual Resource Usage" name="ActualResourceUsage"/>
                <oer:attribute description="Number of resource units assigned to perform the operation"
                     name="AssignedUnits"/>
                <oer:attribute description="Resource consumption value; would be – ‘FIXED’, ‘VARIABLE&apos;"
                     name="BasisType"/>
                <oer:attribute description="Whether resource transactions are automatically generated and at what stage. Support for &apos;Manual&apos; and &apos;Automatic’ types"
                     name="ChargeType"/>
                <oer:attribute description="Inverse resource usage is defined in cases where the resource quantity per Product fractional. This enables to store a fractional quantity per Product, preventing resource usage variances with large build quantities"
                     name="InverseRequiredUsage"/>
                <oer:attribute description="Date when the resource is planned to complete the operation it is assigned to. This is generally calculated by the Scheduling API and is also referred to as Scheduled Completion date"
                     name="PlannedCompletionDate"/>
                <oer:attribute description="Date when the resource is planned to start the operation it is assigned to. This is generally calculated by the Scheduling API and is also referred to as Scheduled Start date"
                     name="PlannedStartDate"/>
                <oer:attribute description="When two or more resources are running in parallel( aka simultaneous resources), they will have the same resource sequence number. In such cases one of them will have to be marked as a Principal Resource. Only  one of the simultaneous resources will be allowed as a principal resource. Planning will identify bottlenecks if the principal resource is not available when checking for capacity"
                     name="PrincipalFlag"/>
                <oer:attribute description="Required usage" name="RequiredUsage"/>
                <oer:attribute description="Resource activity code" name="ResourceActivityCode"/>
                <oer:attribute description="unique identifier for a resource" name="ResourceId"/>
                <oer:attribute description="Resource Sequence Number is used to define the sequence in which resources work together in finishing the operation"
                     name="ResourceSeqNumber"/>
                <oer:attribute description="Used to indicate the the nature of scheduling to be performed for this resource duraion"
                     name="Scheduled"/>
                <oer:attribute description="Unit of measure for the resource" name="UomCode"/>
                <oer:attribute description="Based on the basis type it would be the usage per Product unit or the Usage per work order"
                     name="UsageRate"/>
                <oer:attribute description="Work definition operation resource identifier" name="WdOperationResourceId"/>
                <oer:attribute description="work order operation identifier" name="WoOperationId"/>
                <oer:attribute description="work order operation resource identifier" name="WoOperationResourceId"/>
                <oer:attribute description="Unique identifier of the Plant (or the manufacturing organization)"
                     name="OrganizationId"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="WorkOrderOperationResource">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>WoOperationResourceId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ActualResourceUsage" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AssignedUnits" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="BasisType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="InverseRequiredUsage" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="PlannedCompletionDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="PlannedStartDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="PrincipalFlag" nillable="true" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element minOccurs="0" name="RequiredUsage" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ResourceActivityCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ResourceId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="ResourceSeqNumber" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="Scheduled" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UomCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UsageRate" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="WdOperationResourceId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="WoOperationId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="WoOperationResourceId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="OrganizationId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="AttributeCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar11" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar12" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar13" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar14" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar15" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar16" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar17" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar18" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar19" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar20" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeDate1" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate2" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate3" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeNumber10" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeDate4" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate5" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeNumber1" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber2" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber3" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber4" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber5" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber6" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber7" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber8" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber9" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp1" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp2" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp3" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp4" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp5" nillable="true" type="ns0:dateTime-Timestamp"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="workOrderOperationResource" type="WorkOrderOperationResource"/>
</xsd:schema>
