Fetch_SCM_MFG_WO_By_getWorkOrder/xsd/WorkOrderInput.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/scm/commonWorkExecution/workOrders/workOrdersService/"
     sdoJava:package="oracle.apps.scm.commonWorkExecution.workOrders.workOrdersService"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoJava="commonj.sdo/java" xmlns="http://xmlns.oracle.com/apps/scm/commonWorkExecution/workOrders/workOrdersService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Create Work Order Details</name>
            <description>An object, representing the work order details, that is used to
                provide values while creating a work order</description>
            <oer:category name="lbo">
                <value>SCM-SCM : WIE-Common Work Execution : ORA_WORK_ORDER-Work
                    Order</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Allows linking between work order interface header and details whenever the work order is passed without providing the work order name"
                     name="HeaderNumber"/>
                <oer:attribute description="Unique identifier of the work order to which the record detail belongs to"
                     name="WorkOrderNumber"/>
                <oer:attribute description="Description of the work order" name="WorkOrderDescription"/>
                <oer:attribute description="Unique identifier of the plant (or the manufacturing organization)"
                     name="OrganizationCode"/>
                <oer:attribute description="Plant (manufacturing organization) where the work order is created"
                     name="OrganizationId"/>
                <oer:attribute description="Status of the work order" name="WorkOrderStatus"/>
                <oer:attribute description="Unique identifier of the status of the work order" name="WorkOrderStatusId"/>
                <oer:attribute description="Indicator to allow or prevent Planning from suggesting rescheduling and replanning recommendations with respect to the work order"
                     name="FirmFlag"/>
                <oer:attribute description="Scheduled start date of the work order" name="PlannedStartDate"/>
                <oer:attribute description="Scheduled completion date of the work order" name="PlannedCompletionDate"/>
                <oer:attribute description="Based on the work method, this attribute further classifies the work order to indicate whether it is meant for standard or nonstandard production"
                     name="WorkOrderType"/>
                <oer:attribute description="This represents the specific nature of work being performed such as Standard Production, Prototyping, or Repair. Costing derives work order accounts based on this attribute"
                     name="WorkOrderSubType"/>
                <oer:attribute description="The work method that will be used to execute the work order. The value is always Discrete Manufacturing"
                     name="WorkMethod"/>
                <oer:attribute description="Unique identifier of the work method" name="WorkMethodId"/>
                <oer:attribute description="Represents the work order execution priority. This is user entered"
                     name="WorkOrderPriority"/>
                <oer:attribute description="Primary product that needs to be manufactured" name="Item"/>
                <oer:attribute description="Unique identifier of the item" name="ItemId"/>
                <oer:attribute description="Work definition of the product" name="WorkDefinition"/>
                <oer:attribute description="Unique identifier of the work definition" name="WorkDefinitionId"/>
                <oer:attribute description="Work definition date (formerly known as As of Date) that is used for exploding the work definition into the work order"
                     name="WorkDefinitionAsOfDate"/>
                <oer:attribute description="Quantity of the work order that is planned for and started with"
                     name="Quantity"/>
                <oer:attribute description="The nettable supply quantity considered by the planning system from the work order"
                     name="NettableSupplyQuantityOverride"/>
                <oer:attribute description="Product quantity that is measured (Primary UOM)" name="UomCode"/>
                <oer:attribute description="The supply types look up. The default value is based on the work order definition. This value determines how each of the operation items are supplied to the work order"
                     name="SupplyType"/>
                <oer:attribute description="Subinventory where the work order product is completed into inventory"
                     name="CompletionSubInventory"/>
                <oer:attribute description="Locator where the work order product is completed into inventory"
                     name="CompletionLocator"/>
                <oer:attribute description="Unique identifier of the completion locator" name="CompletionLocatorId"/>
                <oer:attribute description="The tolerance type for overcompletions. Possible values are Percent or Quantity"
                     name="OverCompletionToleranceType"/>
                <oer:attribute description="The percent or quantity that is allowed over the scheduled completion work order quantity"
                     name="OverCompletionToleranceValue"/>
                <oer:attribute description="Actual start date and time of the work order" name="ActualStartDate"/>
                <oer:attribute description="Any header level references of the source system’s object"
                     name="SourceHeaderReference"/>
                <oer:attribute description="Any header level reference ID of the source system’s object"
                     name="SourceHeaderReferenceId"/>
                <oer:attribute description="Any line level references of the source system’s object"
                     name="SourceLineReference"/>
                <oer:attribute description="Any line level reference ID of the source system’s object"
                     name="SourceLineReferenceId"/>
                <oer:attribute description="Indicator that this work order is created as a result of the back to back flow"
                     name="BackToBackFlag"/>
                <oer:attribute description="Description of the Ship to organization in the purchase order"
                     name="SoldToLegalEntityName"/>
                <oer:attribute description="Purchase order reference that is created as a result of a contract manufacturing flow"
                     name="PurchaseOrder"/>
                <oer:attribute description="Unique identifier of the purchase order" name="PurchaseOrderId"/>
                <oer:attribute description="The reference to the contract manufacturers purchase order line ID"
                     name="PurchaseOrderLine"/>
                <oer:attribute description="Unique identifier of the purchase order Line" name="PurchaseOrderLineId"/>
                <oer:attribute description="The reference to the contract manufacturers purchase order line reference"
                     name="PurchaseOrderSchedule"/>
                <oer:attribute description="Unique identifier of the purchase order schedule" name="PurchaseOrderScheduleId"/>
                <oer:attribute description="Identifier of the application that tracks the work order"
                     name="OrchestrationCode"/>
                <oer:attribute description="The identifier of the application that created the work order and subscribes to the business events of the work order"
                     name="InterfaceSourceCode"/>
                <oer:attribute description="Identifies the supplier who executes the work order in the contract manufacturing scenarios"
                     name="ScoSupplierId"/>
                <oer:attribute description="If the Explosion indicator is set to Yes during work order import, then explode the work order requirements based on the work definition using the Explosion API"
                     name="AllowExplosionFlag"/>
                <oer:attribute description="Indicates what scheduling  method the work order import process needs to apply. The value can be No Scheduling (scheduling is not triggered during import) or Default Scheduler (scheduling is triggered during import)"
                     name="SchedulingMethod"/>
                <oer:attribute description="Indicates if the work order is meant for contract manufacturing"
                     name="ContractMfgFlag"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:include schemaLocation="WorkOrderOperationInput.xsd"/>
    <xsd:include schemaLocation="SerialInput.xsd"/>
    <xsd:complexType name="WorkOrderInput">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>HeaderNumber</attribute>
                    <attribute>OrganizationCode</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="HeaderNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WorkOrderNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WorkOrderDescription" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrganizationCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrganizationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="WorkOrderStatus" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WorkOrderStatusId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="FirmFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="PlannedStartDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="PlannedCompletionDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="WorkOrderType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WorkOrderSubType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WorkMethod" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WorkMethodId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="WorkOrderPriority" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="Item" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ItemId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="WorkDefinition" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WorkDefinitionId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="WorkDefinitionAsOfDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="Quantity" nillable="true" type="ns0:MeasureType"/>
            <xsd:element minOccurs="0" name="NettableSupplyQuantityOverride" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="UomCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SupplyType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CompletionSubInventory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CompletionLocator" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="CompletionLocatorId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="OverCompletionToleranceType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OverCompletionToleranceValue" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ActualStartDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="SourceHeaderReference" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceHeaderReferenceId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="SourceLineReference" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceLineReferenceId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="BackToBackFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="SoldToLegalEntityName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PurchaseOrder" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PurchaseOrderId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PurchaseOrderLine" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="PurchaseOrderLineId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PurchaseOrderSchedule" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="PurchaseOrderScheduleId" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="OrchestrationCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="InterfaceSourceCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ScoSupplierId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="AllowExplosionFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="SchedulingMethod" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment11" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment12" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment13" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment14" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment15" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment16" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment17" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment18" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment19" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ComplLocatorSegment20" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar11" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar12" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar13" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar14" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar15" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar16" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar17" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar18" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar19" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeChar20" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeNumber1" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber2" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber3" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber4" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber5" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber6" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber7" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber8" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber9" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber10" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeDate1" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate2" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate3" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate4" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate5" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp1" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp2" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp3" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp4" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp5" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="ContractMfgFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="WorkOrderOperationInput" type="WorkOrderOperationInput"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SerialInput" type="SerialInput"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="workOrderInput" type="WorkOrderInput"/>
</xsd:schema>
