Fetch_SCM_MFG_WO_By_getWorkOrder/xsd/WorkOrderInformation.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/scm/commonWorkExecution/workOrders/workOrdersService/"
     sdoJava:package="oracle.apps.scm.commonWorkExecution.workOrders.workOrdersService"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoJava="commonj.sdo/java" xmlns="http://xmlns.oracle.com/apps/scm/commonWorkExecution/workOrders/workOrdersService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Work Order Information</name>
            <description>An object, representing the work order information, that is
                returned for the given work order</description>
            <oer:category name="lbo">
                <value>SCM-SCM : WIE-Common Work Execution : ORA_WORK_ORDER-Work
                    Order</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Allows linking between the work order interface header and the details whenever the work order is passed without providing the work order name"
                     name="HeaderNumber"/>
                <oer:attribute description="Provides the work order work order open interface action codes such as: Create, Update, Delete"
                     name="ActionCode"/>
                <oer:attribute description="The system defaulted or user entered field that represents the work order. This is unique at the plant level"
                     name="WorkOrderNumber"/>
                <oer:attribute description="Unique identifier of the work order to which the record detail belongs"
                     name="WorkOrderId"/>
                <oer:attribute description="Provides the interface record processing with statuses such as Ready for Processing or Currently in Process, as well as various completion statuses"
                     name="WorkOrderProcessStatus"/>
                <oer:attribute description="Unique identifier of the plant or manufacturing organization"
                     name="OrganizationCode"/>
                <oer:attribute description="Plant or manufacturing organization where the work order is created"
                     name="OrganizationId"/>
                <oer:attribute description="Primary product that needs to be manufactured" name="ItemNumber"/>
                <oer:attribute description="Unique identifier of the item" name="ItemId"/>
                <oer:attribute description="Status of the work order" name="WorkOrderStatusCode"/>
                <oer:attribute description="Unique identifier of the status of the work order" name="WorkOrderStatusId"/>
                <oer:attribute description="Indicator used to allow or prevent Planning from suggesting rescheduling and replanning recommendations with respect to the work order"
                     name="Quantity"/>
                <oer:attribute description="Scheduled start date of the work order" name="StartDate"/>
                <oer:attribute description="Scheduled completion date of the work order" name="CompletionDate"/>
                <oer:attribute description="The information about the message that is being shown"
                     name="MessageInformation"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:include schemaLocation="MessageInformation.xsd"/>
    <xsd:complexType name="WorkOrderInformation">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>InterfaceRowId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="HeaderNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ActionCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WorkOrderNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WorkOrderId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="WorkOrderProcessStatus" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrganizationCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrganizationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ItemNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ItemId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="WorkOrderStatusCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WorkOrderStatusId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Quantity" nillable="true" type="ns0:MeasureType"/>
            <xsd:element minOccurs="0" name="StartDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="CompletionDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="MessageInformation" type="MessageInformation"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="workOrderInformation" type="WorkOrderInformation"/>
</xsd:schema>
