Fetch_SCM_MFG_WO_By_getWorkOrder/xsd/WoTravelerWoHeader.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/scm/commonWorkExecution/workOrders/workOrdersService/"
     sdoJava:package="oracle.apps.scm.commonWorkExecution.workOrders.workOrdersService"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoJava="commonj.sdo/java" xmlns="http://xmlns.oracle.com/apps/scm/commonWorkExecution/workOrders/workOrdersService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:complexType name="WoTravelerWoHeader">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>WorkOrderId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="WorkOrderNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WorkOrderDescription" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WorkOrderStatus" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ItemNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ItemDescription" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WorkOrderType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ReleasedDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="PlannedStartDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="ActualStartDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="PlannedCompletionDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="ActualCompletionDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="WorkOrderClass" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NettableSupplyQuantity" nillable="true" type="ns0:MeasureType"/>
            <xsd:element minOccurs="0" name="PlannedStartQuantity" nillable="true" type="ns0:MeasureType"/>
            <xsd:element minOccurs="0" name="ScrappedQuantity" nillable="true" type="ns0:MeasureType"/>
            <xsd:element minOccurs="0" name="CompletedQuantity" nillable="true" type="ns0:MeasureType"/>
            <xsd:element minOccurs="0" name="RejectedQuantity" nillable="true" type="ns0:MeasureType"/>
            <xsd:element minOccurs="0" name="RemainingQuantity" nillable="true" type="ns0:MeasureType"/>
            <xsd:element minOccurs="0" name="WorkOrderSubType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UOMCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CanceledDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="ClosedDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="CanceledReason" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SerialTrackingFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="ItemRevision" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UOM" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="woTravelerWoHeader" type="WoTravelerWoHeader"/>
</xsd:schema>
